body, p {
    font-weight: 400;
    line-height: 1.6;
    color: #39474e;
    font-family: 'PT Serif', serif;
}

.navbar-default {
  margin: 0;
  border: 0;
}

.header {
  background-color: #39474e;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default .left-menu>li>a {
    color: white;
    font-size: medium;
}

.navbar-default .header-logo {
  padding-left: 50px;
  padding-right: 15px;
}

.header-logo img {
  height: 63px;
  width: 83px;
}

.left-menu>li>a:hover {
  border-bottom: solid 2px #6fbbb7;
  /*color: rgba(255,255,255,0.4);*/
  font-weight: 500;
  opacity: 1;
  text-decoration: none;
  padding: 5px 0px;
}

.right-menu>li>a:hover {
  text-decoration: underline;
  color: rgba(181,183,190,0.6);
}

.right-menu>li>a {
  padding-right: 20px;
}

.right-menu {
  padding-right: 25px;
}

.hero {
  background-image: url(https://www.theironyard.com/content/dam/theironyard/home/amy-home-web2.jpg);
  background-size: cover;
  height: 700px;
}

.hero-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 90px;
}

.hero-title {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.blinking-txt {
  display: inline-block;
  font-size: 24px;
  margin-top: -10px;
  color: #fff;
  font-weight: 600;
}

.typewriter h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 5.0s steps(40, end),
    blink .80s step-end infinite;
    animation-duration: 6s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* Blinking ornage cursor effect */
@keyframes blink {
  0% { opacity: 1; }
  58% {opacity: 0;}
  100% {opacity: 1;}
}

.gly-icon {
  font-size: 40px;
  padding-right: 5px;
}

.featured-companies {
  background-color: #EEEEEE;
  height: 115px;
}

.company-images {
  height: 100px;
}

.companies {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.tiy-details {
  padding-top: 50px;
  padding-bottom: 30px;
}

.tiy-txt>h3 {
  line-height: 36px;
  font-weight: bold;
  /*font-style: italic;*/
  margin: 15px 0;
  font-size: 26px;
  color: #727d84;
}

.tiy-txt>p {
  font-size: 18px;
  margin-bottom: 20px;
}

.course-details {
  background-color: #EEEEEE;
}

.course-txt>h3 {
  font-size: 34px;
  line-height: 36px;
  font-weight: bold;
  /*font-style: italic;*/
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  color: #727d84;
}

.course-txt>p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.course-txtrow {
  padding-top: 50px;
}

.course-title>p {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.course-titlerow {
  padding-top: 30px;
  padding-bottom: 50px;
}
.course-images {
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.txt-frontend {
  color: rgb(206,131,45);
}
.txt-backend {
  color: rgb(184,88,76);
}
.txt-mobile {
  color: rgb(211,180,43);
}
.txt-design {
  color: rgb(53,160,173);
}

.employers {
    background-image: url(https://www.theironyard.com/content/dam/theironyard/home/employers-image.jpg);
    background-size: cover;
    /*height: 1000px;*/
}

.employers-txtrow {
  padding-top: 40px;
  padding-bottom: 20px;
}

.employers-txt>h3 {
    font-size: 34px;
    line-height: 36px;
    font-weight: bold;
    /*font-style: italic;*/
    text-align: center;
    color: #FFFFFF;
}

.employers-txt>p {
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.employer-icons {
  max-width: 960px;
}

.emp-icons {
  display: block;
  margin: 0 auto;
  width: 60%;
  /*max-width: 230px;*/
}

.learn-more-button {
  margin: 0 50px;
}

.tiy-feedback {
  padding-top: 50px;
}

.tiy-questions>h4 {
  font-size: 21px;
  color: #838F95;
  margin: 0;
  padding-bottom: 5px;
}

.tiy-questions>h3 {
  color: #838f95;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  margin: 20px 0;
}

.tiy-questions {
  font-size: 18px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}

.footer {
  background-color: #39474e;
  padding: 0 50px;
}

.footer-nav {
  padding-top: 40px;
  padding-left: 50px;
}

.footer-ul {
  padding-left: 0;
}

.footer-li>a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  color: #9CA7AB;
  text-align: left;
}

.footer-label {
  color: #fff;
}

.tiy-pr>a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  text-align: left;
}

.tiy-copyright {
  display: inline-block;
  text-align: right;
  padding-top: 40px;
  padding-right: 50px;
}

.copyright-img>img {
  height: 80px;
}

.copyright-txt {
  margin-top: 20px;
}

.copyright-txt>p, .policy1>li>a, .policy3>li>a, .policy2>p {
  color: #b5b7be;
  font-size: 12px;
  text-align: right;
  margin-bottom: 3px;
}

.policy1, .policy2, .policy3 {
  float: right;
}

.policy3 {
  margin-right: 20px;
}

.footer-li>a:hover {
  text-decoration: underline;
}

.tiy-pr>a:hover {
  text-decoration: underline;
}

.form-contact, .form-email {
  /*position: relative;*/
  border-radius: 10px;
  margin: 0 auto;
  /*max-height: 295px;*/
  background-color: #EBEBEB;
  padding: 25px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  /*overflow: hidden;*/
}

.fact-sheet {
  /*display: block;*/
  margin-top: 20px;
}

.form-input {
  overflow: hidden;
}

.input-name {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}

.first-name {
  width: 49%;
  float: left;
  /*margin-right: 5px;*/
}

.last-name {
  width: 49%;
  float: right;
}

.sidebyside {
  width: 100%;
  display: inherit;
  padding: 10px 10px;
}

.ph-num {
  clear: both;
  /*margin: 5px 0;*/
  margin-bottom: 10px;
  padding: 10px 25px;
  width: 100%;
}

.send-button, .watch-button, .start-button, .learn-button {
  font-size: 17px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px 25px;
  background-color: #6fbbb7;
  border: none;
}

.send-button {
  width: 100%;
  padding: 10px 25px;
  display: block;
  margin: 0 auto 10px;
  border-bottom: 2px solid #4fa8a3;
}

.learn-button {
  width: 100%;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 80px;
}

.watch-button {
  width: 20%;
  padding: 10px 20px;
  display: block;
  margin-top:8px;
}

.start-button {
  width: 100%;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  display: block;
  margin-top: 8px;
}

.watch-txt {
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tiy-feedback {
  padding-bottom: 50px;
}
